AddDefaultCharset UTF-8
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
Options All -Indexes

<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|json)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

RewriteCond %{REQUEST_URI} ^/404$
RewriteRule ^(.*)$ /404 [L]
ErrorDocument 404 /404
RewriteRule "^(.+/.*|404)\.php($|/)" - [F]
