/*======== Media Query 1920px ========*/

@media only screen and (max-width: 1920px) and (min-width: 1439px) {
    .container {
        width: 100%;
        padding: 0 82px;
    }
}

@media only screen and (max-width: 1440px) {
    .map-area {
        margin-top: 2em;
        margin-bottom: 2em;
      }
  }


@media only screen and (min-width: 1920px) {
    .about .text-block p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 36px;
    }
    .specialities .inner-content {
        display: flex;
        align-items: center;
    }
    .about .text-block {
        bottom: 82%;
    }
    .about .text-block a span {
        font-size: 42px;
        line-height: 2;
    }
    .about i {
        font-size: 48px;
    }
    .about .inner-contant {
        padding-left: 79px;
    }
}

/*======== Media Query 1200px ========*/

@media only screen and (max-width: 1200px) {
    .about .text-block a span {
        font-size: 31px;
    }
    .about .text-block p {
        line-height: 22px;
    }
    .about .text-block {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/*======== Media Query 1024px ========*/

@media only screen and (max-width: 1024px) {
    .banner {
        height: 550px;
    }
    .about .text-block a span {
        font-size: 22px;
    }
    .about .text-block {
        padding-left: 0;
        padding-right: 20px;
    }
    .about .inner-contant {
        padding-left: 44px;
    }
    .about .text-block p {
        letter-spacing: 0;
        line-height: 19px;
        font-size: 12px;
    }
    .inner-contant {
        padding: 0;
    }
    .about i {
        font-size: 1.9em;
    }
    .technologies .view-technologie h2 {
        font-size: 26px;
    }
    .technologies .view-technologie h4 {
        font-size: 14px;
    }
    .technologies .view-technologie p,
    .second-contant p {
        font-size: 12px;
    }
    .technologies .view-technologie .btn {
        width: 215px;
        font-size: 11px;
    }
    .technologies .technologie h3 {
        font-size: 18px;
    }
    .technologies .technologie p {
        font-size: 12px;
    }
    .technologies .fa {
        font-size: 32px;
    }
    .specialities .image {
        height: 410px;
        margin-bottom: 50px;
    }
    .specialities h2 {
        font-size: 28px;
    }
    .specialities h4 {
        padding-bottom: 40px
    }
    .specialities .specialitie h3 {
        font-size: 18px;
    }
    .specialities .specialitie i {
        font-size: 22px;
    }
    .specialities .progress {
        height: 9px;
    }
    .specialities {
        padding-bottom: 10px;
    }
    .team h5 {
        font-size: 12px;
    }
    .team {
        padding-bottom: 50px;
    }
    .team .inner-contant {
        padding: 0 22px;
    }
    .team h3 {
        font-size: 14px;
        padding-bottom: 16px;
    }
    .customers {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .customers p:last-child {
        letter-spacing: 0;
    }
    .contact h3 {
        font-size: 31px;
    }
    .contact address p {
        color: #a3a3a3;
        font-size: 16px;
    }
    .contact h4 {
        font-size: 13px;
    }
    .contact address .fa {
        font-size: 18px;
        margin-right: 18px;
    }
    .form-control {
        height: 34px;
        font-size: 12px;
    }
    .contact input {
        height: 54px;
    }
    .contact .btn {
        width: 208px;
        font-size: 12px;
    }

    #contact {
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
    }
    #contact .text-left {
        padding-bottom: 50px;
    }
    #contact p {
        font-size: 14px;
        padding: 0;
        line-height: 30px;
        padding-bottom: 10px;
    }
    #about-us p {
        margin-bottom: 60px;
        font-size: 16px;
    }
    #about-us {
        padding-top: 50px;
    }
    #blog h6 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    #blog h3 {
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 19px;
    }
    #blog h5 {
        font-size: 11px;
        padding-bottom: 20px;
    }
    #footer-blog .bt {
        padding-top: 0;
    }
    #blog {
        padding-bottom: 0;
    }
    .blog_single .heading h2 {
        font-size: 26px;
    }
    .blog_single h3 {
        font-size: 12px;
        line-height: 22px;
    }
    .mbm_social li {
        margin: 0 5px 0 0;
    }
    .blog_single h4 {
        font-size: 42px;
    }
    #contant p {
        font-size: 12px;
    }
}
    /*======== Media Query 768px ========*/
    @media only screen and (max-width: 768px) {
        .navbar-brand > img {
            padding: 10px 0;
            width: 82px;
        }
        #about-us .image {
            width: 100%;
            height: auto;
        }
        #about-us p {
            margin-bottom: 50px;
            font-size: 14px;
        }
        #about-us {
            padding-top: 15px;
        }
        #blog h6 {
            font-size: 14px;
            letter-spacing: 0px;
            padding-bottom: 50px;
        }
        .services {
            padding-top: 50px;
        }
        .services h4 {
            font-size: 14px;
            letter-spacing: 1px;
            padding-bottom: 50px;
        }
        .load-more .btn {
            width: 80px;
            height: 80px;
            margin-bottom: 100px;
            font-weight: 600;
        }
        .mbm_social .social-facebook,
        .mbm_social .social-twitter,
        .mbm_social .social-google-plus {
            width: 84px;
            height: 24px;
        }
        .mbm_social i {
            font-size: 10px;
        }
        .mbm_social small {
            font-size: 10px;
            margin: 0 0 0 12px;
        }
        .about .text-block a {
            font-size: 18px;
        }
        .about i {
            font-size: 21px;
        }
        .about .fa {
            margin-right: 15px;
        }
        .about .text-block {
            padding-left: 0;
            padding-right: 0;
        }
        .about .text-block {
            bottom: 98%;
            left: 9%;
        }
        .about .inner-contant {
            padding-left: 38px;
        }
        .team h4 {
            font-size: 34px;
        }

        .team .inner-contant {
            padding-bottom: 20px;
        }
        .team h3 {
            font-size: 12px;
        }
        .specialities h2 {
            font-size: 26px;
        }
        .team h6 {
            font-size: 12px;
            letter-spacing: 1px;
        }
        .services h3 {
            font-size: 34px;
        }
        .services h4 {
            font-size: 12px;
        }
        .contact input {
            height: 48px;
        }
        textarea.form-control {
            margin-bottom: 5px;
        }
        .contact input {
            margin-bottom: 10px;
        }
        .contact h3 {
            font-size: 28px;
        }
        .contact h4 {
            font-size: 12px;
        }
        .contact p {
            font-size: 12px;
        }
        .contact address p {
            font-size: 14px;
        }
        .contact address .fa {
            font-size: 15px;
            margin-right: 12px;
        }
        #contant .image {
            width: 100%;
        }
        footer li a {
            padding: 14px;
            font-size: 12px;
        }
        footer p {
            font-size: 9px;
            padding-bottom: 20px;
        }
        footer {
            padding-bottom: 50px;
            padding-top: 40px;
        }
        .customers p:last-child {
            padding-bottom: 0;
        }
        #fade-quote-carousel blockquote p .name {
            padding-top: 26px;
        }
        #fade-quote-carousel blockquote p .city {
            font-size: 14px;
        }
        .carousel-control.left {
            top: 78%;
            left: 35%;
            font-size: 35px;
        }
        .carousel-control.right {
            top: 78%;
            right: 35%;
            font-size: 35px;
        }
        .customers {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .banner h1 {
            font-size: 34px;
        }
        .banner p {
            font-size: 21px;
            font-weight: 600;
            letter-spacing: 2px;
        }
        .banner p .btn-primary,
        .btn-success {
            width: 123px;
            font-size: 12px;
            margin-right: 5px;
            padding: 13px 0;
        }
        #services h3 {
            font-size: 32px;
        }
        #services .part-1 img,
        .part-2 img,
        .part-3 img {
            padding-bottom: 50px;
        }
        #services h4 {
            font-size: 14px;
        }
        #services p {
            font-size: 14px;
        }
        .navbar-brand > img {
            width: 6vw;
        }
    }
    /*======== Media Query 768px ========*/
    @media only screen and (max-width: 768px) {
        .navbar-inverse .navbar-nav > li > a {
            line-height: 1;
        }
        .navbar-brand > img {
            padding: 0;
        }
        .event-frontpage .col{
            padding-bottom: 2em;
        }
        .yt .col-md-12{
            padding-left: 0;
            padding-right: 0; 
        }
        #block-mainnavigation-3 .nav li a{
            margin-top: 18px;
        }
        #blog .inner-contant{
            padding: 0 1em 1em 1em; 
        }
        .about .item-new{
            padding-top: 4em;
        }
        #blog .item-new{
            margin-top: 0 2em;
        }
        #map > .container {
          margin:0px;
          padding: 0px ;
          
        }
        #map > .container > .row {
          margin:0px ;
        }
        .map-area {
          padding: 0px;
          margin:0px;
        }
        .map-area-text{
          margin-left: 1em;
          margin-right: 1em;
        }
        #map iframe {
          width:100vw;
          height:50vh; 
        }
        #blog .social-media {
            margin-left: 3em;
        }
    }
    /*======== Media Query 688px ========*/
    @media only screen and (max-width: 688px) {
        .py-5 {
            width: 100%;
        }
        #contact .btn-primary {
            width: 238px;
            font-size: 12px;
        }
        #contact p {
            font-size: 12px;
            padding: 0;
            line-height: 20px;
        }
        #contact select {
            height: 34px;
        }
        #contact .form-group {
            margin-bottom: 0;
        }
        textarea.form-control {
            margin-bottom: 23px;
        }
        #contact ::placeholder {
            font-size: 9px;
        }
        #contact .btn-primary {
            width: 199px;
            font-size: 10px;
            height: 42px;
        }
        #contact .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .carousel-control.left {
            left: 32%;
        }
        .carousel-control.right {
            right: 32%;
        }
        .event-frontpage .col{
            padding-bottom: 2em;
        }
        .specialities .part {
          padding-top: 2em;
          padding-left: 0;
          padding-right: 1em;
        }

        .detail-first .detail-first-text{
            margin:0px;
        }

        .detail-first iframe {
          width: 100%;
          height: 100%;
        }
        .yt .col-md-12{
            padding-left: 0;
            padding-right: 0; 
        }
        .about .item-new {
            padding-top: 1em
        }

        .about .item-new span{
            font-size: 1em;
        }
        #blog .item-new{
            margin-top: 1em;
            margin-bottom: 1em;
        }
        #blog .item-new span{
             font-size: 1em;
        }
        .thumbnail {
            height: 10em;
        }
        .team h4 {
            margin:0 1em;
        }
        .team h6{
            padding-left: 1em;
            padding-right: 1em;
        }
        #blog .inner-contant{
            padding: 0 1em 1em 1em; 
        }
        #weather{
            height: 189px;
        }
    }
   