{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section {{ attributes.addClass(classes) }}>

  <div class="text-center banner"  style="
  	height: 50vh;
  	background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image:  url({{ content.field_block_image.0 }});
      background-attachment:fixed;
     ">
    <div class="gradient"></div>
      <div class="container">
         <div class="row">
             <div class="col-md-12">
                  <h1 data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">{{content.field_block_title}}</h1>
             </div>
         </div>
      </div>
  </div>
  <div class="social-media">
   <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12 fb-profile-picture" ></div>

     </div>
     <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12 fb-fullname" ></div>
     </div>
     <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12 fb-like" data-href="https://dev-deped-dauin.pantheonsite.io/schools" data-width=""  data-layout="button_count" data-action="like" data-size="small" data-share="true">
         </div>
     </div>
     <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 twitter">
           <a href="https://twitter.com/intent/tweet?button_hashtag=DauinNiBai&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #DauinNiBai</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
     </div>
   </div>
</div>
</section>
