{% block content %}
    <section class="event-frontpage">
      <h4>HEADS UP</h4>
      <h6>Get latest Updates Happening </h6>
     <div class="container">
     	<div class="row">
     		{{ content }}
     	</div>
     </div>
     </section> 
{% endblock %} 