{# <section class="customers">    #}
	{% block content %}
		{{ content }}
{# 		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="carousel slide" id="fade-quote-carousel">
					  <div class="carousel-inner" role="listbox">
					    <div class="item">
					    	
					    </div>
		    		</div>
				</div>							
			</div>
		</div>
 #}	{% endblock %}
{# </section> #}
