{% if content %}
  <section id="blog">
    <div class="container-fluid">
      <div class="row">
          {{ content }}
          <div class="col-xs-12 col-sm-6 col-md-3 item-new">
            <a class="btn btn-primary" href="/schools"><span>More</span></a>
          </div>
      </div>
    </div>
  </section> 
{% endif %}