{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                   {#  <img src="/sites/default/files/header/favicon.png" alt="logo"> #}
                    <img class="hidden-xs" src="/sites/default/files/header/favicon.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
              {{ content }}
            </div>
        </div>
    </nav>
</section>