<footer class="footer-menu">
    <div class="container">
       <div class="row" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000">
           {{ content }}
       <p>(C) 2020 All rights reserved <span>
        </span>Designed by <span><a href="https://www.facebook.com/pahimuKo/?modal=admin_todo_tour" target="_blank" style="color: #03b9b3;">Rendroid</a></span></p>
       </div>
       <div class="footer-logo">
              <a href="#"><img src="/sites/default/files/header/favicon.png" alt="footer-logo"></a>
       </div>
    </div>
</footer>