
<section class="contact-message-inquire-form contact-message-form contact-form contextual-region block block-contact-block clearfix" data-drupal-selector="contact-message-inquire-form" id="block-contactblock">
  
    <div data-contextual-id="block:block=contactblock:langcode=en|contact_block:contact_form=inquire:langcode=en" data-contextual-token="TA_9aqN6ePQ8OclG60RQO6BliVnUsklKzlm2Wwzgh-0" class="contextual"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button>

		<ul class="contextual-links links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/contactblock?destination=/homepage">Configure block</a></li><li class="contact-blockcontact-form-edit-form"><a href="/admin/structure/contact/manage/inquire?destination=/homepage">Edit contact form</a></li><li class="contact-blockcontact-form-manage-fields"><a href="/admin/structure/contact/manage/inquire/fields?destination=/homepage">Manage fields</a></li></ul>
	</div>

	<form action="/" method="post" id="contact-message-inquire-form" accept-charset="UTF-8" data-drupal-form-fields="edit-subject-0-value,edit-message-0-value,edit-copy,edit-submit,edit-preview">
		<div id="edit-name" class="form-item js-form-item form-type-item js-form-type-item form-item-name js-form-item-name form-group">
			<label for="edit-name" class="control-label">Your name</label>renier
		</div>
		<div id="edit-mail" class="form-item js-form-item form-type-item js-form-type-item form-item-mail js-form-item-mail form-group">
		<label for="edit-mail" class="control-label">Your email address</label>renierjohnsediego@gmail.com
		</div>
		<div class="field--type-string field--name-subject field--widget-string-textfield form-group js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">
			<div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value form-group">
				<label for="edit-subject-0-value" class="control-label js-form-required form-required">Subject</label>
				<input class="js-text-full text-full form-text required form-control" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="100" placeholder="" required="required" aria-required="true">
			</div>
		</div>
		<div class="field--type-string-long field--name-message field--widget-string-textarea form-group js-form-wrapper form-wrapper" data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper">
			<div class="form-item js-form-item form-type-textarea js-form-type-textarea form-item-message-0-value js-form-item-message-0-value form-group">
			<label for="edit-message-0-value" class="control-label js-form-required form-required">Message</label>
				<div class="form-textarea-wrapper">
  					<textarea class="js-text-full text-full form-textarea required form-control resize-vertical" data-drupal-selector="edit-message-0-value" id="edit-message-0-value" name="message[0][value]" rows="12" cols="60" placeholder="" required="required" aria-required="true"></textarea>
				</div>
			</div>
		</div>
			<input autocomplete="off" data-drupal-selector="form-ih71akl3awrc253ywm1vsixpmp5vcrjzo7ofelutbze" type="hidden" name="form_build_id" value="form-iH71aKL3AwrC253YWm1vSIXPMp5VCrJzO7ofELutBzE">
			<input data-drupal-selector="edit-contact-message-inquire-form-form-token" class="form-control" type="hidden" name="form_token" value="KPw-U4RnMEneCtYSUAQJt2Hn_a59knz3FFw_NQw_mGQ">
			
			<input data-drupal-selector="edit-contact-message-inquire-form" type="hidden" name="form_id" value="contact_message_inquire_form">

				
		<div class="field--type-language field--name-langcode field--widget-language-select form-group js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">
		</div>
		<div class="form-item js-form-item form-type-checkbox js-form-type-checkbox form-item-copy js-form-item-copy checkbox">
			<label for="edit-copy" class="control-label option">
			<input data-drupal-selector="edit-copy" class="form-checkbox" type="checkbox" id="edit-copy" name="copy" value="1">
				Send yourself a copy</label>
 		</div>
		<div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions">
			<button data-drupal-selector="edit-submit" class="button button--primary js-form-submit form-submit btn-primary btn" type="submit" id="edit-submit" name="op" value="Send message">Send message</button>
			<button data-drupal-selector="edit-preview" class="button js-form-submit form-submit btn-default btn icon-before" type="submit" id="edit-preview" name="op" value="Preview"><span class="icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>Preview</button>
		</div>
	</form>
</section>