/*== Technologies Section Start ==*/

.events .col,
.contact .col {
    padding-right: 0;
    padding-left: 0;
}

.events {
   /* padding-top: 97px;*/
    padding-bottom: 35px;
}

.events .technologie {
    padding: 0 25px;
    padding-bottom: 60px;
}

.events .fa {
    font-size: 37px;
    color: #cacaca;
    padding-bottom: 30px;
}

.events .technologie h3 {
    font-size: 22px;
    font-weight: 600;
    color: #2e3192;
    padding-bottom: 15px;
}

.events .technologie p {
    font-size: 13px;
    font-weight: 600;
    color: #a3a3a3;
    line-height: 25px;
}

.events .view-technologie h2 {
    font-size: 35px;
    font-weight: 600;
    color: #2e3192;
    padding-bottom: 15px;
    letter-spacing: -1px;
}

.events .view-technologie h4 {
    font-size: 18px;
    font-weight: 600;
    color: #959595;
    padding-bottom: 22px;
    text-transform: uppercase;
}

.events .view-technologie p,
.second-contant p {
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
    color: #a3a3a3;
    padding-bottom: 43px;
}

.events .view-technologie .btn {
    width: 272px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 16px 0;
    letter-spacing: 1px;
    margin-bottom: 186px;
    background-color: #2e3192;
    text-transform: uppercase;
}

.events .btn:hover {
    color: white;
}
